$primary: #0465e3;
$secondary: #3e3d3d;
$danger: #ff1525;
$dark: #2e2e2e;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.square {
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: #114b98;
}
